{% block content %}

<h1>Terms of Use</h1>
<p><strong>Last updated: 10/12/2023</strong></p>

<h2>1. Acceptance of Terms</h2>
<p>By accessing or using Ulti services, websites, or any applications (including mobile applications) made available by Ulti, (together, the "Service"), however accessed, you agree to be bound by these terms of use ("Terms of Use").</p>

<h2>2. Modification of Terms</h2>
<p>We reserve the right to modify or terminate the Service or your access to the Service for any reason, without notice, at any time, and without liability to you. We may modify these Terms of Use, at any time, and changes will be posted on this page.</p>

<h2>3. Basic Terms</h2>
<ul>
    <li>You must be at least 13 years old to use the Service.</li>
    <li>You may not post violent, discriminatory, unlawful, infringing, hateful, pornographic, or sexually suggestive photos or other content via the Service.</li>
    <li>You are responsible for any activity that occurs through your account, and you agree not to sell, transfer, license, or assign your account or any account rights.</li>
</ul>

<h2>4. General Conditions</h2>
<ul>
    <li>We reserve the right to remove any content that we deem inappropriate or in violation of these Terms of Use.</li>
    <li>We may, but are not obligated to, remove, edit, or monitor content or accounts containing content that we determine in our sole discretion to be unlawful, offensive, harmful, or otherwise in violation of these Terms of Use.</li>
</ul>

<h2>5. Rights</h2>
<p>All rights in the Service and its content are reserved by Ulti, Limited. Users can't duplicate, transfer, or distribute any portion of the Service without Ulti's written permission.</p>
<p>The Service contains content owned or licensed by Ulti, Limited. Content on the Service is provided AS IS, and you may not use it in any way except as specifically permitted in these Terms of Use.</p>

<h2>6. Limitation of Liability</h2>
<p>Ulti, Limited. will not be responsible for any damages or losses resulting from your use of the Service or any transactions related to it.</p>

<h2>7. Termination</h2>
<p>Ulti, Limited reserves the right to terminate access to the Service for any reason. User-generated content may continue to exist on the platform even after a user account is terminated.</p>

<h2>8. Governing Law & Jurisdiction</h2>
<p>These Terms of Use are governed by and construed under the laws of the United States of America, without regard to its conflict of law principles.</p>

{% endblock %}
